/project/mid-term_project/face_classification_10
/project/mid-term_project/face_classification_100
/project/mid-term_project/face_classification_500
/project/mid-term_project/model.pkl
/project/mid-term_project/2023ANN-mid-term-project-20337251-伍建霖.zip
/project/final-term project/pytorch_basic_nmt/__pycache__
/project/final-term project/pytorch_basic_nmt/model.bin
/project/final-term project/2023ANN-final-term-project-20337251-伍建霖
/project/final-term project/2023ANN-final-term-project-20337251-伍建霖.zip
/project/final-term project/pytorch_basic_nmt/model.bin.optim
