/project/mid-term_project/face_classification_10
/project/mid-term_project/face_classification_100
/project/mid-term_project/face_classification_500
/project/mid-term_project/model.pkl
/project/mid-term_project/2023ANN-mid-term-project-20337251-伍建霖.zip
